Q1

In [ ]:
def pattern(rows):
  for i in range(0,rows):
    for j in range(0,i+1):
      print("*",end=" ")
    print("\r")
  for i in range(rows , 0, -1):
    for j in range(0,i-1):
      print("*",end=" ")
    print("\r")
n=5
pattern(n)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q2

In [ ]:
def rev(str):
  s=""
  for i in str:
    s=i+s
  return s
str="Python"
print("Original string:",str)
print("Reversed string:",rev(str))

Original string: Python
Reversed string: nohtyP

Q3

In [ ]:
for i in range(0,6):
  if(i!=3 and i!=6):
    print(i,end=" ")

0 1 2 4 5

Q4

In [ ]:
for i in range(1,50):
  if(i%3==0 and i%5==0):
    print("FizzBuzz")
  elif(i%3==0 and i%5!=0):
    print("Buzz")
  elif(i%5==0 and i%3!=0):
    print("Fizz")
  else:
    print(i)
  print("\r")

1

2

Buzz

4

Fizz

Buzz

7

8

Buzz

Fizz

11

Buzz

13

14

FizzBuzz

16

17

Buzz

19

Fizz

Buzz

22

23

Buzz

Fizz

26

Buzz

28

29

FizzBuzz

31

32

Buzz

34

Fizz

Buzz

37

38

Buzz

Fizz

41

Buzz

43

44

FizzBuzz

46

47

Buzz

49

Q5

In [ ]:
for i in range(0,3):
  for j in range(0,4):
    print(i*j,end=" ")
  print("\r")

0 0 0 0
0 1 2 3
0 2 4 6

Q6

In [ ]:
no=int(input("Enter number:"))
r=0
while(no>0):
  rem=no%10
  r=(r*10)+rem
  no=no//10
print("Reverse number:",r)

Enter number:125
Reverse number: 521

Q7

In [3]:
def natural(n):
  while(n>0):
    print(n,end=" ")
    n-=1

natural(25)

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

Q8

In [5]:
sq_list=[]
for i in range(1,7):
  sq_list.append(i**2)

print(sq_list)

[1, 4, 9, 16, 25, 36]

Q9

In [7]:
nat=[]
i=1
while(i<=10):
  print(i,end=" ")
  nat.append(i)
  i+=1

print("\n",nat)

1 2 3 4 5 6 7 8 9 10
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q10

In [10]:
i=1
while(i<=5):
  s=float(input("Enter score b/w 0.0 and 1.0:"))
  if(s<=0.0 or s>=1.0):
    print("Bad score")
  elif(s<1.0 and s>=0.9):
    print("A")
  elif(s<0.9 and s>=0.8):
    print("B")
  elif(s<0.8 and s>=0.7):
    print("C")
  elif(s<0.7 and s>=0.6):
    print("D")
  else:
    print("E")
  i+=1

Enter score b/w 0.0 and 1.0:0.95
A
Enter score b/w 0.0 and 1.0:41
Bad score
Enter score b/w 0.0 and 1.0:10.0
Bad score
Enter score b/w 0.0 and 1.0:0.75
C
Enter score b/w 0.0 and 1.0:0.5
E

Q11

In [11]:
s = 'X-DSPAM-Confidence:0.8475' 
x=s.find(":")
string=s[x+1:]
print(float(string))

18
0.8475

Q12

In [11]:
def grade(s):
  if(s<=0.0 or s>=1.0):
    return "Bad score"
  elif(s<1.0 and s>=0.9):
    return "A"
  elif(s<0.9 and s>=0.8):
    return "B"
  elif(s<0.8 and s>=0.7):
    return "C"
  elif(s<0.7 and s>=0.6):
    return "D"
  else:
    return "E"

i=1
while(i<=5):
  s=float(input("Enter score b/w 0.0 and 1.0:"))
  print(grade(s))
  i+=1

Enter score b/w 0.0 and 1.0:0.95
A
Enter score b/w 0.0 and 1.0:10.0
Bad score
Enter score b/w 0.0 and 1.0:0.75
C
Enter score b/w 0.0 and 1.0:41
Bad score
Enter score b/w 0.0 and 1.0:0.5
E

Q13

In [16]:
tot=0
count=0
while(1):
  c=str(input("Enter a number"))
  if(c=='done'):
    print(tot," ",count," ",(tot/count))
    break
  elif(c==""):
    print("bad data Invalid input")
  else:
    tot+=int(c)
    count+=1

Enter a number4
Enter a number5
Enter a number
bad data Invalid input
Enter a number6
Enter a number7
Enter a numberdone
22   4   5.5

Q14

In [17]:
lt=[]
while(1):
  c=str(input("Enter a number"))
  if(c=='done'):
    print("max: ",max(lt),"\nmin: ",min(lt))
    break
  elif(c==""):
    print("bad data Invalid input")
  else:
    lt.append(int(c))

Enter a number4
Enter a number5
Enter a number6
Enter a number
bad data Invalid input
Enter a number7
Enter a number9
Enter a numberdone
max:  9
min:  4

Q15

In [22]:
def calc(lt,mul):
  for i in lt:
    mul*=i;
  return mul

mul=1
lt=[5,6,7,8,9]
print("product of all numbers in the list: ",calc(lt,mul))

product of all numbers in the list:  15120

Q16

In [26]:
def count(string):
  up=0
  low=0
  for i in string:
    if(i.isupper()):
      up+=1
    else:
      low+=1
  print("No.of uppercase letters: ",up,"\nNo.of lowercase letters: ",low)

s="PytHoN"
count(s)

No.of uppercase letters:  3
No.of lowercase letters:  3

Q17

In [28]:
def prime(n):
  if(n>1):
    for i in range(2,int(n/2)+1):
      if(n%i==0):
        print(n," is not prime")
        break
    else:
      print(n," is prime")
  else:
    print(n," is not prime")

n=int(input("Enter number: "))
prime(n)

Enter number: 5
5  is prime

Q18

In [29]:
def show_employee(name,sal=9000):
  print("Name: ",name,"Salary: ",sal)

show_employee("ABC",8500)
show_employee("XYZ")

Name:  ABC Salary:  8500
Name:  XYZ Salary:  9000

Q19

In [30]:
def outer(a,b):
  def inner():
    return a+b
  return 5+inner()

print(outer(7,5))

17

Q20

In [31]:
def func1(*args):
  for i in args:
    print(i)

func1(20,40,60,80)
func1(70,50,120)

20
40
60
80
70
50
120