<a href="https://colab.research.google.com/github/priya4565/sample1/blob/main/Python_Basics_lab_exercises_cb_en_u4cse20151.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [ ]:
print("Twinkle, twinkle, little star,\n\t\tHow I wonder what you are! \n\t\t\t\tUp above the world so high,\n\t\t\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\t\tHow I wonder what you are!")

Twinkle, twinkle, little star,
		How I wonder what you are!
				Up above the world so high,
				Like a diamond in the sky.
Twinkle, twinkle, little star,
		How I wonder what you are!

Q2

In [ ]:
pi=3.14
r=int(input("Enter the value of radius: "))
area=pi*r*r
print("Area of circle is %.2f",area)

Enter the value of radius: 5
Area of circle is %.2f 78.5

Q3

In [ ]:
print('Name', 'Is', 'James',sep='**' )

Name**Is**James

Q4

In [ ]:
def change_fo(s1):
  c = s1[0]
  s1=s1.replace(c,'$')
  s1=c+s1[1:]
  return s1
print(change_fo('restart'))

resta$t

Q5

In [ ]:
def swapmix(s1,s2):
  new_s1=s2[:2]+s1[2:]
  new_s2=s1[:2]+s2[2:]
  final=new_s1+' '+new_s2
  return final
print(swapmix('abc','xyz'))

xyc abz

Q6

In [ ]:
def swapmix(s1,s2):
  new_s1=s2[:2]+s1[2:]
  new_s2=s1[:2]+s2[2:]
  final=new_s1+' '+new_s2
  return final
print(swapmix('abc','xyz'))

xyc abz

Q7

In [ ]:
def remodd(s1):
  new_s1=s1[::2]
  s1=new_s1
  return s1
print(remodd('Hello'))

Hlo

Q8

In [ ]:
dict={'k1':'Python','k2':'lab'}
dict['k3']='exercise'
print(dict)

{'k1': 'Python', 'k2': 'lab', 'k3': 'exercise'}

Q9

In [ ]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic4= {**dic1,** dic2,**dic3}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Q10

In [ ]:
dic1={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(2 in dic1)

True

Q11

In [ ]:
vowels=('a','e','i','o','u')
print(vowels[1])

e

Q12

In [ ]:
vowels=('a','e','i','o','u')
first=vowels[3]
last=vowels[-4]
print(first+' '+last)

o e

Q13

In [ ]:
daylist=['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
daytuple=tuple(daylist)
print(daytuple)

('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')

Q14

In [ ]:
def avg(num):
  x=[sum(x)/len(x) for x in zip(*num)]
  return x
num=((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print(avg(num))

[30.5, 34.25, 27.0, 23.25]

Q15

In [ ]:
colour=(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
if(any('White' in i for i in colour)):
  print('True')
else:
  print('False')
if(any('Olive' in i for i in colour)):
  print('True')
else:
  print('False')

True
False

Q16

In [ ]:
set1={1,2,3,7,6,5}
set1.add(4)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

Q17

In [ ]:
set1={1,2,3,7,6,5}
set1.remove(7)
print(set1)

{1, 2, 3, 5, 6}

Q18

In [ ]:
set1={1,2,3,7,6,5}
set2={1,3,4,6,8,9}
set3={2,3,4,5,6,7}
print(set1.intersection(set2,set3))

{3, 6}

Q19

In [ ]:
set1={1,2,3,7,6,5}
set2={1,3,4,6,8,9}
print(set1-set2)
print(set2-set1)

{2, 5, 7}
{8, 9, 4}

Q20

In [ ]:
def Reverse(daylist):
  daylist.reverse()
  return daylist
daylist=['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
print(Reverse(daylist))

['Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon', 'Sun']

Q21

In [ ]:
s = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
s = [x for (i, x) in enumerate(s) if i not in (0, 4, 5)]
print(s)

['Green', 'White', 'Black']

Q22

In [ ]:
num = [23, 34, 'hello', 32, 56] 
print(len(num))

5

Q23

In [ ]:
def Reverse(daylist):
  daylist.reverse()
  return daylist
daylist=[0,1,2,3,4,5,6]
print(Reverse(daylist))

[6, 5, 4, 3, 2, 1, 0]

Q24

In [ ]:
import numpy as np
  
arr1 = [1,5,9]
print (np.square(arr1))

[ 1 25 81]

Q25

In [ ]:
num = [23,45,67,8,9] 
num.append('study')
print(num)

[23, 45, 67, 8, 9, 'study']

Q26

In [ ]:
num = [23,45,67,8,9]
total=sum(num)
print(total)

152

Q27

In [ ]:
num = [23,45,67,8,9]
large=max(num)
print(large)

67

Q28

In [ ]:
x=5
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

7
3
10
2.5
1
25
2

Q29

In [ ]:
x=[1,2,3]
y=[4,5,6]
add=[]
sub=[]
mul=[]
div=[]
mod=[]
expo=[]
floor=[]
for i in range(3):
  add.append(x[i]+y[i])
  sub.append(x[i]-y[i])
  mul.append(x[i]*y[i])
  div.append(x[i]/y[i])
  mod.append(x[i]%y[i])
  expo.append(x[i]**y[i])
  floor.append(x[i]//y[i])
print(add)
print(sub)
print(mul)
print(div)
print(mod)
print(expo)
print(floor)

[5, 7, 9]
[-3, -3, -3]
[4, 10, 18]
[0.25, 0.4, 0.5]
[1, 2, 3]
[1, 32, 729]
[0, 0, 0]

Q30

In [ ]:
n=(7,5,16,8,4)
large=max(n)
small=min(n)
print(large)
print(small)

16
4